# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL_EMPOWERED=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:HARDENEDLEATHER=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"IMMERSIVEENGINEERING:FARADAY"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"IMMERSIVEENGINEERING:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:boron=6

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:boron_nitride=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:ceramics.clay=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ceramics.clay_raw=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:hard_carbon=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:hazmat=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:tough=15
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:BRONZE2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:GLOWSTONE2=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"IE:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:LAZULI2=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:LuxSaber=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:OBSIDIAN2=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:OSMIUM2=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:STEEL2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"artisanworktables:ALUMINUM"=14
    I:"artisanworktables:BONE"=5
    I:"artisanworktables:BORON"=6
    I:"artisanworktables:BORONNITRIDE"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"artisanworktables:BRONZE"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"artisanworktables:CONSTANTAN"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"artisanworktables:COPPER"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"artisanworktables:DIAMOND"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"artisanworktables:ELECTRUM"=30
    I:"artisanworktables:FLINT"=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:"artisanworktables:GOLD"=22
    I:"artisanworktables:HARDCARBON"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"artisanworktables:INVAR"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"artisanworktables:IRON"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"artisanworktables:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"artisanworktables:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"artisanworktables:OSMIUM"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"artisanworktables:PLATINUM"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"artisanworktables:SILVER"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"artisanworktables:STEEL"=10
    I:"artisanworktables:STONE"=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"artisanworktables:TIN"=7
    I:"artisanworktables:TOUGHALLOY"=15
    I:"artisanworktables:WOOD"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"athenaeum:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:"athenaeum:BONE"=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"athenaeum:BORON"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"athenaeum:BORONNITRIDE"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"athenaeum:BRONZE"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"athenaeum:CONSTANTAN"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"athenaeum:COPPER"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"athenaeum:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"athenaeum:ELEMENTIUM"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:"athenaeum:FLINT"=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"athenaeum:HARDCARBON"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"athenaeum:INVAR"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"athenaeum:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"athenaeum:MANASTEEL"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"athenaeum:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"athenaeum:OBSIDIAN"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"athenaeum:OSMIUM"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"athenaeum:PLATINUM"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"athenaeum:SILVER"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"athenaeum:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:"athenaeum:TERRASTEEL"=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"athenaeum:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"athenaeum:TOUGHALLOY"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:darkSteel=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:endSteel=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 72]
    I:immolation=72

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:spaxelhoe_boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:spaxelhoe_boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:spaxelhoe_hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:spaxelhoe_tough"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:tough"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:stellarAlloy=25
}


